; /etc/containers/systemd/wax_labs_v3_pg.container

[Unit]
Description=Wax Labs API Notification Database

[Install]
WantedBy=multi-user.target wax_labs_v3_app.service

[Container]
Image=docker.io/library/postgres:14-alpine
ContainerName=wax_labs_v3_pg
Volume=wax_labs_v3_pg.volume:/var/lib/postgresql/data
Network=wax_labs_v3.network
EnvironmentFile=/opt/wax_labs_v3/.env

[Service]
Restart=always
RestartSec=5
