@import '../../scss/typography';
@import '../../scss/variables';

@import '../../scss/components/Button.scss';
@import '../../scss/components/Modal.scss';

.adminMenu {
    padding: $spacing-m;
    background-color: $overlay-02;
    border-radius: $border-radius;

    margin-bottom: $spacing-m;

    text-align: center;

    @include breakpoint(tablet-landscape-up) {
        text-align: start;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(tablet-landscape-up) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &--row {
            flex-direction: column-reverse;

            @include breakpoint(tablet-landscape-up) {
                flex-direction: row;
                align-items: flex-end;

                margin-top: $spacing-s;
            }
        }

        .button {
            margin: $spacing-s 0 0 0;

            @include breakpoint(tablet-landscape-up) {
                margin: 0 $spacing-m 0 0;
            }
        }
    }
    &__modalAction {
        float: right;
        margin-top: 16px;
    }

    &__reject {
        display: flex;
        flex-direction: column;
        margin-top: $spacing-s;

        .button, .input__label {
            margin-left: auto;
            margin-right: auto;
        }

        @include breakpoint(tablet-landscape-up) {
            margin-top: 0;
        }

        .input {

            background-color: $overlay-01;

        }
        .button {
            margin-top: $spacing-xs;
        }
    }

    &__askchanges {
        display: flex;
        flex-direction: column;
        margin-top: $spacing-s;
        margin-left: $spacing-m;
        

        .button {
            margin-left: auto;
            margin-right: auto;
            margin-top: $spacing-xs;

        }

        @include breakpoint(tablet-landscape-up) {
            margin-top: 0;
        }
    }
}
