@import '../../scss/typography';
@import '../../scss/variables';

.deliverablesList {
    h2 {
        display: flex;
        align-items: flex-end;
    }
    &__completed {
        @include h4;
        background-color: $overlay-01;
        margin-left: $spacing-xs;
        padding: $spacing-xxs;
        border-radius: 5px;
    }
    &__total {
        @include p--bold;
        color: $typography-03;
    }
}