Hello 👋, I'm the Wax Labs Bot (@{{ telegram_bot_username }}).

I can help you to get notifications about the proposals on the WAX Labs website.
As soon as you subscribe to a proposal, I will send you a message when a new proposal is created or updated.

To start using me, please send me your WAX account name like this:

<code>/start waxaccount</code>

or you can just type
<code>/start</code> and I will ask you for your WAX account name.

If you want to stop receiving notifications, just type <code>/stop</code>.

If you need help, just type <code>/help</code>.

Other commands:
<code>/status proposalId</code> - Show the status of the proposal
<code>/subscribe proposalId</code> - Subscribe to a proposal
<code>/unsubscribe proposalId</code> - Unsubscribe from a proposal


If you are the owner of a proposal, you will receive notifications about the status of your proposal automatically.
